@import '../variables.less';

.ve-ce-surface-source.CodeMirror {
    background: @bg-panel;
    background-color: @color-black;
    color: @color-white;
    border: 1px solid @accent-primary;
    //border-radius: 4px;
    padding: 0 !important;
	width: 100% !important;
	min-height: 100% !important;
	display: block;
	box-sizing: border-box;
}
.ve-ui-surface-source .CodeMirror pre {
    font-family: "Libertinus Mono", "Source Code Pro", monospace !important;
}

.CodeMirror-scroll {
    padding: 0 !important;
}
.ve-ui-surface-source {
	min-height: 300px !important;
	display: block;
}
.CodeMirror pre, .CodeMirror-lines {
    font-family: "Libertinus Mono", "Source Code Pro", monospace !important;
	font-size: 14px !important;
	line-height: 1.4 !important;
}
.cm-keyword { color: @code-keyword; font-weight: bold; }
.cm-string  { color: @code-string; }
.cm-comment { color: @code-comment; font-style: italic; }
.cm-number  { color: @code-number; }
.cm-variable { color: @code-variable; }
.cm-def     { color: @code-def; }
.cm-mw-template { color: @code-template; }
.cm-mw-parserfunction-name { color: @code-parserfunction; }
.cm-mw-section-header { color: @code-section-header; font-weight: bold; }
.cm-mw-htmltag-attribute { color: @code-htmltag-attribute; }
.cm-mw-link-brackets { color: @code-link-brackets; }
.cm-mw-link-pagename { color: @code-link-pagename; text-decoration: underline; }
.cm-mw-link-text { color: @code-link-text; }
.cm-mw-exttag-attribute { color: @code-exttag-attribute; }
.cm-mw-exttag-name { color: @code-exttag-name; }
.cm-mw-exttag-brackets { color: @code-exttag-brackets; }
.cm-mw-exttag { color: @code-exttag; }
.CodeMirror-cursor { border-left: 1px solid @color-orange; }
.CodeMirror-gutters, .CodeMirror-linenumbers {
    background-color: @bg-alt !important;
    color: @accent-hover !important;
    border-right: 1px solid @accent-primary !important;
}
/* Insert rules from lightbulb.css here, adjusting selectors */
.CodeMirror-cursor { border-left: 1px solid @accent-alt !important; }
