@import '../variables.less';
@import '../typography.less';

.uls-menu, .row {
    background-color: @bg-panel;
    background: @bg-panel !important;
    border: 1px solid @accent-primary !important;
    border-radius: 12px !important;
}
.languagesettings-dialog {
    background-color: @bg-alt;
    color: @color-white;
    border: 1px solid @accent-primary;
    border-radius: 8px;
}
.uls-language-block {
    color: @color-base;
    font-size: @font-size-medium;
    font-family: @font-content, 'Book Antiqua', serif !important;
}
.uls-language-block .antonym a {
    color: @color-base !important;
}
.uls-search {
    border: 1px solid @accent-primary;
    border-radius: 4px;
    background-color: @bg-alt;
    color: @color-white;
    font-size: @font-size-medium;
    font-family: @font-content, 'Book Antiqua', serif !important;
}
.settings-title {
    color: @accent-alt;
    font-size: @font-size-medium;
    font-family: @font-header, 'Book Antiqua', serif !important;
}
.settings-text {
    color: @color-base;
    font-size: @font-size-medium;
    font-family: @font-content, 'Book Antiqua', serif !important;
}
.languagesettings-menu h1 {
    color: @accent-primary !important;
    font-size: @font-size-large;
    font-family: @font-header, 'Book Antiqua', serif !important;
}