// forum.less
@import '../variables.less';

th.mw-wikiforum-title {
    background-color: var(--color-accent-navy);
    border-top: 2px solid var(--color-deep-orange);
    border-bottom: 2px solid var(--color-deep-orange);
}
td.mw-wikiforum-title {
    background-color: var(--color-navy);
    color: var(--color-white);
}
table.mw-wikiforum-frame {
    clear: both;
    width: 100%;
    background: @color-dark-navy;
    border: 1px dotted @color-burnt-orange;
    border-radius: 12px;
    margin-bottom: 1.2em;
}
#mw-wikiforum-searchbox-border {
    border: 1px solid @color-bright-orange;
    width: 200px;
    text-align: left;
    background: @color-dark-navy;
}
.mw-wikiforum-admin, .mw-wikiforum-value, .mw-wikiforum-lastpost {
    background: @color-accent-navy;
    color: @color-white;
}